examples {
  ["Basic Debian sources.list"] {
    new {
      archiveType = "deb"
      options = null
      uri = "http://deb.debian.org/debian"
      suite = "bookworm"
      components {
        "main"
      }
    }
  }
}
